## Restaurant data Preprocessing and Recommendation System

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("D:\Linearloop Internship\Project - Travel\Project_datasets\indian restaurants Dataset.xlsx")

In [3]:
df.head()

,res_id,name,establishment,city,city_id,locality,latitude,longitude,country_id,locality_verbose,...,timings,average_cost_for_two,price_range,currency,highlights,aggregate_rating,rating_text,votes,photo_count,opentable_support
0,3400299,Bikanervala,['Quick Bites'],Agra,34,Khandari,27.211450,78.002381,1,"Khandari, Agra",...,8:30am â€“ 10:30pm (Mon-Sun),700,2,Rs.,"['Lunch', 'Takeaway Available', 'Credit Card',...",4.4,Very Good,814,154,0
1,3400005,Mama Chicken Mama Franky House,['Quick Bites'],Agra,34,Agra Cantt,27.160569,78.011583,1,"Agra Cantt, Agra",...,"12:30PM to 12Midnight (Mon, Wed, Thu, Fri, Sat...",600,2,Rs.,"['Delivery', 'No Alcohol Available', 'Dinner',...",4.4,Very Good,1203,161,0
2,3401013,Bhagat Halwai,['Quick Bites'],Agra,34,Shahganj,27.182938,77.979684,1,"Shahganj, Agra",...,9:30 AM to 11 PM,300,1,Rs.,"['No Alcohol Available', 'Dinner', 'Takeaway A...",4.2,Very Good,801,107,0
3,3400290,Bhagat Halwai,['Quick Bites'],Agra,34,Civil Lines,27.205668,78.004799,1,"Civil Lines, Agra",...,8am â€“ 11pm (Mon-Sun),300,1,Rs.,"['Takeaway Available', 'Credit Card', 'Lunch',...",4.3,Very Good,693,157,0
4,3401744,The Salt Cafe Kitchen & Bar,['Casual Dining'],Agra,34,Tajganj,27.157709,78.052421,1,"Tajganj, Agra",...,11:30 AM to 11:30 PM,1000,3,Rs.,"['Lunch', 'Serves Alcohol', 'Cash', 'Credit Ca...",4.9,Excellent,470,291,0

In [4]:
df.shape

(60371, 21)

In [5]:
df.city.nunique()

99

In [6]:
df.establishment.unique()

array(["['Quick Bites']", "['Casual Dining']", "['Bakery']", "['CafÃ©']",
       "['Dhaba']", "['Bhojanalya']", "['Bar']", "['Sweet Shop']",
       "['Fine Dining']", "['Food Truck']", "['Dessert Parlour']",
       "['Lounge']", "['Pub']", "['Beverage Shop']", "['Kiosk']",
       "['Paan Shop']", "['Confectionery']", '[]', "['Club']",
       "['Food Court']", "['Shack']", "['Mess']", "['Butcher Shop']",
       "['Microbrewery']", "['Cocktail Bar']", "['Pop up']",
       "['Irani Cafe']"], dtype=object)

In [7]:
def remove_special_chars(text):
    special_chars = ["[", "]", "'", '"']

    # Remove special characters from the text
    cleaned_text = text
    for char in special_chars:
        cleaned_text = cleaned_text.replace(char, "")

    return cleaned_text

In [8]:
df['establishment'] = df.establishment.apply(remove_special_chars)

In [9]:
df['highlights'] = df.highlights.apply(remove_special_chars)

In [10]:
def clean_string(input_string):
    unwanted_chars = ['â€“','â€™']  # List of unwanted characters

    # Remove unwanted characters from the string
    if isinstance(input_string, str):
        unwanted_chars = ['â€“']  # List of unwanted characters

        # Remove unwanted characters from the string
        cleaned_string = input_string
        for char in unwanted_chars:
            cleaned_string = cleaned_string.replace(char, "")

        return cleaned_string
    else:
        return input_string

In [11]:
df = df.apply(clean_string)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60371 entries, 0 to 60370
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   res_id                60371 non-null  int64
 1   name                  60371 non-null  object
 2   establishment         60371 non-null  object
 3   city                  60371 non-null  object
 4   city_id               60371 non-null  int64
 5   locality              60371 non-null  object
 6   latitude              60371 non-null  float64
 7   longitude             60371 non-null  float64
 8   country_id            60371 non-null  int64
 9   locality_verbose      60371 non-null  object
 10  cuisines              60371 non-null  object
 11  timings               60371 non-null  object
 12  average_cost_for_two  60371 non-null  int64
 13  price_range           60371 non-null  int64
 14  currency              60371 non-null  object
 15  highlights            60371 non-null  object
 16  aggregate_rating      60371 non-null  float64
 17  rating_text           60371 non-null  object
 18  votes                 60371 non-null  int64
 19  photo_count           60371 non-null  int64
 20  opentable_support     60371 non-null  int64
dtypes: float64(3), int64(8), object(10)
memory usage: 9.7+ MB

In [13]:
df.isnull().sum()

res_id                  0
name                    0
establishment           0
city                    0
city_id                 0
locality                0
latitude                0
longitude               0
country_id              0
locality_verbose        0
cuisines                0
timings                 0
average_cost_for_two    0
price_range             0
currency                0
highlights              0
aggregate_rating        0
rating_text             0
votes                   0
photo_count             0
opentable_support       0
dtype: int64

In [14]:
df.drop(columns=['res_id','city_id','locality','latitude','longitude','price_range','currency','votes','photo_count','opentable_support'], inplace=True)

In [15]:
df.drop(columns=['country_id','rating_text'],inplace=True)

In [16]:
df.head()

,name,establishment,city,locality_verbose,cuisines,timings,average_cost_for_two,highlights,aggregate_rating
0,Bikanervala,Quick Bites,Agra,"Khandari, Agra","North Indian, South Indian, Mithai, Street Foo...",8:30am â€“ 10:30pm (Mon-Sun),700,"Lunch, Takeaway Available, Credit Card, Dinner...",4.4
1,Mama Chicken Mama Franky House,Quick Bites,Agra,"Agra Cantt, Agra","North Indian, Mughlai, Rolls, Chinese, Fast Fo...","12:30PM to 12Midnight (Mon, Wed, Thu, Fri, Sat...",600,"Delivery, No Alcohol Available, Dinner, Takeaw...",4.4
2,Bhagat Halwai,Quick Bites,Agra,"Shahganj, Agra","Fast Food, Mithai",9:30 AM to 11 PM,300,"No Alcohol Available, Dinner, Takeaway Availab...",4.2
3,Bhagat Halwai,Quick Bites,Agra,"Civil Lines, Agra","Desserts, Bakery, Fast Food, South Indian",8am â€“ 11pm (Mon-Sun),300,"Takeaway Available, Credit Card, Lunch, Delive...",4.3
4,The Salt Cafe Kitchen & Bar,Casual Dining,Agra,"Tajganj, Agra","North Indian, Continental, Italian",11:30 AM to 11:30 PM,1000,"Lunch, Serves Alcohol, Cash, Credit Card, Dinn...",4.9

In [17]:
change_c = {
    'name' : 'Name',
    'establishment' : 'Type',
    'city' : 'City',
    'locality_verbose' : 'Address',
    'cuisines' : 'Cuisines',
    'timings' : 'Timings',
    'average_cost_for_two' : 'Cost for Two',
    'highlights' : 'Highlights',
    'aggregate_rating' : 'Rating'
}

In [18]:
df.rename(columns=change_c, inplace=True)

In [19]:
df.head()

,Name,Type,City,Address,Cuisines,Timings,Cost for Two,Highlights,Rating
0,Bikanervala,Quick Bites,Agra,"Khandari, Agra","North Indian, South Indian, Mithai, Street Foo...",8:30am â€“ 10:30pm (Mon-Sun),700,"Lunch, Takeaway Available, Credit Card, Dinner...",4.4
1,Mama Chicken Mama Franky House,Quick Bites,Agra,"Agra Cantt, Agra","North Indian, Mughlai, Rolls, Chinese, Fast Fo...","12:30PM to 12Midnight (Mon, Wed, Thu, Fri, Sat...",600,"Delivery, No Alcohol Available, Dinner, Takeaw...",4.4
2,Bhagat Halwai,Quick Bites,Agra,"Shahganj, Agra","Fast Food, Mithai",9:30 AM to 11 PM,300,"No Alcohol Available, Dinner, Takeaway Availab...",4.2
3,Bhagat Halwai,Quick Bites,Agra,"Civil Lines, Agra","Desserts, Bakery, Fast Food, South Indian",8am â€“ 11pm (Mon-Sun),300,"Takeaway Available, Credit Card, Lunch, Delive...",4.3
4,The Salt Cafe Kitchen & Bar,Casual Dining,Agra,"Tajganj, Agra","North Indian, Continental, Italian",11:30 AM to 11:30 PM,1000,"Lunch, Serves Alcohol, Cash, Credit Card, Dinn...",4.9

In [20]:
df['Name'] = df['Name'].apply(clean_string)

In [21]:
def citybased(city):
    df['City'] = df['City'].str.lower()
    citybase = df[df['City'] == city.lower()]
    citybase = citybase.sort_values(by='Rating', ascending=False)
    if(citybase.empty==0):
        hname = citybase[['Name','Type','Cuisines','Highlights','Address','Rating','Cost for Two','Timings']]
        return hname.head(10)
    else:
        print('No Restaurants data!')

In [22]:
citybased('ahmedabad')

,Name,Type,Cuisines,Highlights,Address,Rating,Cost for Two,Timings
933,Buttercupp,Dessert Parlour,"Desserts, Bakery","Cash, Credit Card, Takeaway Available, Debit C...","Vastrapur, Ahmedabad",4.9,300,2PM to 8PM (Mon-Sun)
950,Yanki Sizzlers,Casual Dining,"Continental, Italian, Chinese","Lunch, Takeaway Available, Debit Card, No Alco...","Thaltej, Ahmedabad",4.9,1200,"12 Noon to 3 PM, 7 PM to 11 PM (Mon-Sun)"
994,TGâ€™s - The Oriental Grill - Hyatt,Casual Dining,"Chinese, Japanese","Dinner, Credit Card, Debit Card, Cash, Valet P...","Hyatt, Vastrapur, Ahmedabad",4.9,1500,"12:30 PM to 3 PM, 6:45 PM to 11:30 PM"
963,Yanki Sizzlers,Casual Dining,"Continental, Italian, Chinese, Mexican","Dinner, Takeaway Available, Debit Card, Lunch,...","C G Road, Ahmedabad",4.9,1200,"Mon-Sun (12 Noon to 3 PM, 7 PM to 11 PM)"
873,Huber & Holly,Dessert Parlour,"Desserts, Italian","Cash, Takeaway Available, Credit Card, Deliver...","Bodakdev, Ahmedabad",4.8,500,10am â€“ 3am (Mon-Sun)
1149,Hoglatto,Dessert Parlour,"Desserts, Bakery","Takeaway Available, Credit Card, Debit Card, C...","Vastrapur, Ahmedabad",4.8,400,"11 AM to 11 PM (Mon-Sat), 1 PM to 11 PM (Sun)"
894,Kadak Bhagat,Casual Dining,"North Indian, Chinese","Dinner, Cash, Credit Card, Lunch, Takeaway Ava...","Mani Nagar, Ahmedabad",4.8,1200,"11:30 AM to 3:30 PM, 7 PM to 11 PM"
2067,Kadak Bhagat,Casual Dining,"North Indian, Chinese","Dinner, Cash, Credit Card, Lunch, Takeaway Ava...","Mani Nagar, Ahmedabad",4.8,1200,"11:30 AM to 3:30 PM, 7 PM to 11 PM"
969,China House - Hyatt Regency,Fine Dining,"Chinese, Asian","Cash, Debit Card, No Alcohol Available, Dinner...","Hyatt Regency, Ashram Road, Ahmedabad",4.7,2400,"12:30 PM to 3 PM, 7 PM to 11:30 PM"
2133,Swati Snacks,Quick Bites,"Fast Food, Street Food, South Indian","Credit Card, Cash, Delivery, Dinner, Takeaway ...","Ellis Bridge, Ahmedabad",4.7,600,12 Noon to 10:45 PM

In [23]:
df['Description'] = df['Type'] + ' ' + df['Cuisines'] + ' ' + df['Highlights']

In [24]:
df.head()

,Name,Type,City,Address,Cuisines,Timings,Cost for Two,Highlights,Rating,Description
0,Bikanervala,Quick Bites,agra,"Khandari, Agra","North Indian, South Indian, Mithai, Street Foo...",8:30am â€“ 10:30pm (Mon-Sun),700,"Lunch, Takeaway Available, Credit Card, Dinner...",4.4,"Quick Bites North Indian, South Indian, Mithai..."
1,Mama Chicken Mama Franky House,Quick Bites,agra,"Agra Cantt, Agra","North Indian, Mughlai, Rolls, Chinese, Fast Fo...","12:30PM to 12Midnight (Mon, Wed, Thu, Fri, Sat...",600,"Delivery, No Alcohol Available, Dinner, Takeaw...",4.4,"Quick Bites North Indian, Mughlai, Rolls, Chin..."
2,Bhagat Halwai,Quick Bites,agra,"Shahganj, Agra","Fast Food, Mithai",9:30 AM to 11 PM,300,"No Alcohol Available, Dinner, Takeaway Availab...",4.2,"Quick Bites Fast Food, Mithai No Alcohol Avail..."
3,Bhagat Halwai,Quick Bites,agra,"Civil Lines, Agra","Desserts, Bakery, Fast Food, South Indian",8am â€“ 11pm (Mon-Sun),300,"Takeaway Available, Credit Card, Lunch, Delive...",4.3,"Quick Bites Desserts, Bakery, Fast Food, South..."
4,The Salt Cafe Kitchen & Bar,Casual Dining,agra,"Tajganj, Agra","North Indian, Continental, Italian",11:30 AM to 11:30 PM,1000,"Lunch, Serves Alcohol, Cash, Credit Card, Dinn...",4.9,"Casual Dining North Indian, Continental, Itali..."

In [25]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

In [26]:
def requirement_based(city, description=None, locality=None):
    df['City'] = df['City'].str.lower()
    df['Description'] = df['Description'].str.lower()
    df['Address'] = df['Address'].str.lower()
    
    if description:
        description = description.lower()
        description_tokens = word_tokenize(description)
        sw = stopwords.words('english')
        lemm = WordNetLemmatizer()
        f1_set = {w for w in description_tokens if not w in sw}
        f_set = set()
        for se in f1_set:
            f_set.add(lemm.lemmatize(se))
    
    if locality:
        locality = locality.lower()
        sw = stopwords.words('english')
        lemm = WordNetLemmatizer()
        locality_tokens = word_tokenize(locality)
        f1_set = {w for w in locality_tokens if not w in sw}
        locality_set = set()
        for se in f1_set:
            locality_set.add(lemm.lemmatize(se))
    
    req_based = df[df['City'] == city.lower()]
    
    if locality:
        req_based = req_based[req_based['Address'].str.contains(locality.lower())]
    
    if req_based.empty:
        print("No attractions data found for this city and locality.")
        return None
    
    cos_desc = []
    cos_locality = []

    if description:
        for i in range(req_based.shape[0]):
            temp_tokens = word_tokenize(req_based['Description'].iloc[i])
            temp1_set = {w for w in temp_tokens if not w in sw}
            temp_set = set()
            for se in temp1_set:
                temp_set.add(lemm.lemmatize(se))
            revector = temp_set.intersection(f_set)
            cos_desc.append(len(revector))
    
    if locality:
        for i in range(req_based.shape[0]):
            temp_tokens = word_tokenize(req_based['Address'].iloc[i])
            temp1_set = {w for w in temp_tokens if not w in sw}
            temp_set = set()
            for se in temp1_set:
                temp_set.add(lemm.lemmatize(se))
            revector = temp_set.intersection(locality_set)
            cos_locality.append(len(revector))
            
    req_based['Desc_Similarity'] = cos_desc
    req_based['Locality_Similarity'] = cos_locality
    
    req_based['Total_Similarity'] = req_based['Desc_Similarity'] + req_based['Locality_Similarity']
    
    req_based = req_based.sort_values(by='Total_Similarity', ascending=False).reset_index(drop=True)
    
    return req_based[['Name', 'Type', 'Cuisines', 'Highlights', 'Address', 'Rating', 'Cost for Two', 'Timings', 'Total_Similarity']].head(10)

In [27]:
requirement_based('ahmedabad', 'north', 'kalupur')

,Name,Type,Cuisines,Highlights,Address,Rating,Cost for Two,Timings,Total_Similarity
0,Hotel Moti Mahal,Casual Dining,"North Indian, Chinese","Dinner, Cash, Takeaway Available, Breakfast, D...","kalupur, ahmedabad",3.9,600,6 AM to 11 PM,2
1,Shudh Vaishno Bhojnalay,Bhojanalya,North Indian,"Dinner, Takeaway Available, Breakfast, Lunch, ...","kalupur, ahmedabad",0.0,200,5 AM to 11 PM,2
2,Shankar Bhojnalay,Bhojanalya,North Indian,"Dinner, Takeaway Available, Breakfast, Lunch, ...","kalupur, ahmedabad",0.0,200,7:30 AM to 11 PM,2
3,Revabhai Bhojnalay,Bhojanalya,North Indian,"Dinner, Takeaway Available, Breakfast, Lunch, ...","kalupur, ahmedabad",0.0,200,8 AM to 11 PM,2
4,Moti Bakery,Bakery,"Bakery, Fast Food","Takeaway Available, Cash, Breakfast, Indoor Se...","kalupur, ahmedabad",3.7,100,7 AM to 11 PM,1
5,Kantilal Manilal's Gopi,Sweet Shop,Mithai,"Delivery, Cash, No Seating Available, Takeaway...","kalupur, ahmedabad",3.6,250,8am â€“ 10pm (Mon-Sun),1
6,Mohan Cholafali Centre,Kiosk,Gujarati,"No Seating Available, Dinner, Takeaway Availab...","kalupur, ahmedabad",0.0,200,2 PM to 8:30 PM,1

In [28]:
df = df.drop_duplicates(keep=False)

In [29]:
def rest_recc(city, description=None, locality=None):
    df['City'] = df['City'].str.lower()
    df['Description'] = df['Description'].str.lower()
    df['Address'] = df['Address'].str.lower()
    
    if description:
        description = description.lower()
        description_tokens = word_tokenize(description)
        sw = stopwords.words('english')
        lemm = WordNetLemmatizer()
        f1_set = {w for w in description_tokens if not w in sw}
        f_set = set()
        for se in f1_set:
            f_set.add(lemm.lemmatize(se))
    
    if locality:
        locality = locality.lower()
        sw = stopwords.words('english')
        lemm = WordNetLemmatizer()
        locality_tokens = word_tokenize(locality)
        f1_set = {w for w in locality_tokens if not w in sw}
        locality_set = set()
        for se in f1_set:
            locality_set.add(lemm.lemmatize(se))
    
    req_based = df[df['City'] == city.lower()]
    
    if locality:
        req_based = req_based[req_based['Address'].str.contains(locality.lower())]
    
    if req_based.empty:
        print("No attractions data found for this city and locality.")
        return None
    
    cos_desc = []
    cos_locality = []

    if description:
        for i in range(req_based.shape[0]):
            temp_tokens = word_tokenize(req_based['Description'].iloc[i])
            temp1_set = {w for w in temp_tokens if not w in sw}
            temp_set = set()
            for se in temp1_set:
                temp_set.add(lemm.lemmatize(se))
            revector = temp_set.intersection(f_set)
            cos_desc.append(len(revector))
    
    if locality:
        for i in range(req_based.shape[0]):
            temp_tokens = word_tokenize(req_based['Address'].iloc[i])
            temp1_set = {w for w in temp_tokens if not w in sw}
            temp_set = set()
            for se in temp1_set:
                temp_set.add(lemm.lemmatize(se))
            revector = temp_set.intersection(locality_set)
            cos_locality.append(len(revector))
            
    req_based['Desc_Similarity'] = cos_desc
    req_based['Locality_Similarity'] = cos_locality
    
    req_based['Total_Similarity'] = req_based['Desc_Similarity'] + req_based['Locality_Similarity']
    
    # Weight for balancing rating and similarity
    rating_weight = 0.5
    similarity_weight = 0.5
    
    # Calculate weighted score
    req_based['Weighted_Score'] = (req_based['Rating'] * rating_weight) + (req_based['Total_Similarity'] * similarity_weight)
    
    # Sort by weighted score and reset index
    req_based = req_based.sort_values(by='Weighted_Score', ascending=False).reset_index(drop=True)
    
    return req_based[['Name', 'Type', 'Cuisines', 'Highlights', 'Address', 'Rating', 'Cost for Two', 'Timings', 'Weighted_Score']].head(10)

In [33]:
rest_recc('jaisalmer', 'north indian punjabi', 'jaisalmer')

No attractions data found for this city and locality.

In [31]:
import pickle

with open('rest_dataframe.pkl', 'wb') as f:
    pickle.dump(df, f)

In [32]:
df.shape

(48839, 10)

In [42]:
df[df['City'] == 'jaisalmer']

Empty DataFrame
Columns: [Name, Type, City, Address, Cuisines, Timings, Cost for Two, Highlights, Rating, Description]
Index: []